body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(0, 0, 0);
    background-color: mintcream;
}
.header{
    height: 20em;
    padding: 5em;
   background-image: url(../img/27_generated.jpg);
    background-size: cover;
    background-position: center;
}
.header h1{
    margin: 0px;
    font-size: 5em;
    color: white;
}
.header h2{
    color:white;
}
.products{
    width: 80%;
    margin: auto;
    padding-top: 1em;
}
.products td{
    width: 29%;
   padding: 2em;
   background-color: papayawhip;
}
.products img{
    width: 100%;
    border: solid 1px #ddd;
}
.footer{
    height: 3em;
    line-height: 3em;
    background-color: rgb(185,112,41);
    color: white;
    text-align: center;
    font-weight: 900;
}
.products td h3{
    text-align: center;
}

.valor{
    color:green
}